<div class="row">
    <div class="col s12 m8">
        <h3>{{message.subject}}
        </h3>
        <div class="card post">
            <div class="card-content">
                <span class="card-title">{{formatDate message.createdAt 'MMMM Do YYYY, h:mm:ss a'}}</span>
                {{{message.body}}}
            </div>
        </div>
            <a href="/posts/add_comment" class="waves-effect waves-light btn">Reply
            <i class="fa fa-sign-in right"></i></a>

    </div>
        <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{post.user.displayName}}</span>
                <img src="{{post.user.image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="/posts/user/{{post.user._id}}">More From {{post.user.firstName}}</a>
            </div>
        </div>
    </div>
</div>