<!DOCTYPE html>
<html lang="en">

<body>

  <div id="index-banner" class="parallax-container valign-wrapper" style="min-height: 300px;">
    <div class="section no-pad-bot">
      <div class="container valign">
        <br><br>
        <h1 class="header center white-text text-darken-2">{{post.title}}</h1>
        <div class="row center">
          <h5 class="header col s12 light white-text text-darken-2">blah blah blah blah blah who cares about this subtitle anyways</h5>
          <p class="post-meta" style="color: lightgrey;"><i style="color: #f0eaea !important;" class="fa fa-clock-o"></i>Posted: June 13th 2022, 4:18:47 pm <a href="#" style="color: #bbb8b8da"></a></p>
            <div class="chip">
                       Author: <img src="{{post.user.image}}" alt="">
                      <a href="/stories/user/{{post.user._id}}">{{post.user.displayName}}</a>
            </div>
          
        </div>
        
        <div class="row center">
          <a href="#startPosts" class="btn-floating btn-large waves-effect waves-light grey darken-2 head-link"><i class="fa fa-angle-double-down"></i></a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../../images/tree-background.jpg" alt="Unsplashed background img 2"></div>
  </div>

<div class="container" id="startPosts">
	<br>
	<br>

	<div class="row">
		<div class="col s12 m10 offset-m1 l9 offset-l1">
			{{stripTags post.body}}
			<br>
			<br>
			<br>
		</div>
	</div>
</div>


  </body>
</html>
