
<div class="container">
  <h2>Post Categories</h2>
        <table class="striped">
        <thead>
          <tr>
              <th>Category</th>
              <th>Top</th>
              <th>Total Posts</th>
          </tr>
        </thead>
        <tbody>
        {{#each categoryNums}} 
            <tr>
    
                <td> <a href="/posts/category/{{@key}}"class="waves-effect waves-light btn-large"><i class="material-icons right">{{ @key }}</i>View</a></td>
                <td><a href="/posts/top/{{@key}}"class="waves-effect waves-light btn-large">Top {{ @key }}</a></td>
                <td> <div style="text-align: center;background-color: #a7eee8 !important;" class="btn-floating disabled">{{this}}</div></td>
                <!-- <td>{{categoryNums.[this]}}</td> -->
                <!-- <td>{{categoryNums.["Web Design"]}}</td>-->
                
            </tr>
        {{/each}}

        </tbody>
      </table>
      <br>

</div>