<!DOCTYPE html>
<html lang="en">
<body>
  <div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container valign">
        <br><br>
        <h1 class="header center white-text text-darken-2">
            {{#if category}}
              {{category}}
            {{else}}
              All Public Posts
            {{/if}}
        </h1>
        <div class="row center">
          <h5 class="header col s12 light white-text text-darken-2">Scroll down to see all posts ever made by anyone ever!</h5>
        </div>
        <div class="row center">
          <a href="#startPosts" class="btn-floating btn-large waves-effect waves-light grey darken-2 head-link"><i class="fa fa-angle-double-down"></i></a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../../images/spiral-background.jpg" alt="Unsplashed background img 2"></div>
  </div>

<div class="container" id="startPosts">
	<br>

	<div class="row">
		<div class="col s12 m10 offset-m1 l9 offset-l1">
    {{#each posts}}
			
                 <div class="post-preview">
                    <a href="/posts/temp/{{_id}}">
                        <h4 class="post-title titleFont">
                           {{truncate title 45}}
                        </h4>
                        <h6 class="post-subtitle subTitleFont">
                            {{stripTags (truncate body 250)}}
                        </h6>
                    </a>
                   <p class="post-meta"><i class="fa fa-clock-o"></i>Posted: {{formatDate createdAt 'MMMM Do YYYY h:mm a'}}
                    <div class="chip">
                      Author: <img src="{{user.image}}" alt="">
                      <a href="/posts/user/{{user._id}}">{{user.displayName}}</a></p>
                    </div>
                </div>
                <hr>			
    {{else}}
    <p>No posts to display.</p>
    {{/each}}			

		</div>
	</div>
</div>


	
	
	
	
	
  </body>
</html>
