<!DOCTYPE html>
<html lang="en">
<body>
  <div id="index-banner" class="parallax-container valign-wrapper" style="min-height: 300px;">
    <div class="section no-pad-bot">
      <div class="container valign">
        <br><br>
        <h1 class="header center white-text text-darken-2">{{post.title}}</h1>
        <div class="row center">
          <div style="color: rgb(0 0 0);" class="div chip">
            Category: {{post.category}}
          </div>
          <p class="post-meta" style="color: lightgrey;"><i style="color: #f0eaea !important;" class="fa fa-clock-o"></i>Posted: June 13th 2022, 4:18:47 pm <a href="#" style="color: #bbb8b8da"></a></p>
            <div class="chip">
                       Author: <img src="{{post.user.image}}" alt="">
                      <a href="/posts/user/{{post.user._id}}">{{post.user.displayName}}</a>
            </div>
        </div>        
        <div class="row center">
          <a href="#startPosts" class="btn-floating btn-large waves-effect waves-light grey darken-2 head-link"><i class="fa fa-angle-double-down"></i></a>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src="../../images/mountains.jpg" alt="../../images/woodgrain.jpg"></div>
  </div>
<div class="container" id="startPosts">
	<br>
	<br>
	<div class="row">
		<div class="col s12 m10 offset-m1 l9 offset-l1">
			{{stripTags post.body}}
			<br>
			<br>
			
      <a class="btn waves-effect waves-light" type="submit" href="/posts/comment/{{post._id}}">Add Comment</a>
      <br>
      <p>comments:</p>

      <ul class="collection">
      {{#if comments}}
        {{#each comments}}
        <li class="small collection-item">
          <p class="blue-text text-darken-1">User: {{user}}</p>
          <p class="indigo-text text-darken-4"> Comment:</p><p>{{stripTags body}}</p>
          <p class="small blue-text text-darken-3">Comment Posted: {{formatDate createdAt 'MMMM Do YYYY h:mm a'}}</p>
        </li>
        {{/each}}
      {{else}}
        <li>No one has left any comments yet. </li>
      {{/if}}
      </ul>
  </a>
		</div>
	</div>
</div>
  </body>
</html>
